.modal-resume {
  &__container {
    padding: 5rem 1rem;
  }

  &__header {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__title {

    font-size: 3rem;
    text-transform: uppercase;
    color: @black;
    font-weight: 700;
    margin-bottom: 3.5rem;
  }
}
