.news {
  margin-top: 14rem;
  margin-bottom: 8rem;
  @media @tablet-sm{
    margin-top:10rem;
    margin-bottom: 2rem;
  }
  &__header {
    margin-bottom: 3.6rem;
    text-align: center;
    @media @mobile{
      margin-bottom: 1.4rem;
    }
  }

  &__title {
    margin-bottom: .3rem;

    font-size: 3rem;
    color: @black;
    text-transform: uppercase;
    font-weight: 700;
    @media @mobile{
      font-size: 2rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    color: @gray-light;
    font-weight: 300;
  }

  &__footer {
    text-align: right;
  }

  &__link {
    font-size: .94rem;
    color: @gray;

    &:hover {
      text-decoration: none;
    }
  }
}
