.social{
  margin:1.8rem 0;
  &__link{
    svg{
      width:41px;
      height:41px;
      padding:0.4rem;
      transition: transform .2s linear;
      &:hover{
        transform:
        translateY(-5px);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        fill: @blue;
      }
    }
    //&_vk{
    //  fill: #2BA2DF;
    //}
  }
}
a:link{
  text-decoration: none;
}


