.user{
  display:flex;
  &__avatar{
    width: 57px;
    height: 57px;
    padding-right: 9px;
    box-sizing: content-box;
    img{
      border-radius:50%;
    }
  }
  &__name{
    font-size:1.06rem;
    color: @black;
    font-weight: 700; //bold==700
    line-height: 1.2rem;
  }
  &__prof{
    font-size: 0.8rem;
    color: rgba(@black,0.7);
    line-height: 1.46rem;
    padding-top: 1px;
  }
}
