$black: #2b2a2c;
$gray-light: #8d8d8e;
$gray: #6a696b;
$blue: #1869ff;
$error: #dd3030;
$mobile-sm: "min-width: 320px";
$mobile: "max-width:475px";
$tablet-sm: "max-width:565px";
$tablet: "max-width:767px";
$tablet-big: "max-width:991px";
$notebook: "max-width:1199px";
