.work {
  box-shadow: 0 0 4px rgba(#000, .25);
  border-radius: 10px;
  overflow: hidden;
  max-width: 370px;
  transition: box-shadow .2s linear;
  margin: 0 auto;
  width: 100%;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 25px rgba(#000, .25);
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    padding: 1rem 0.8rem;
  }

  &__cat {
    font-size: .8rem;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
  }
}
