.works{
  padding: 2.8rem 0;
  &__nav{
    display:flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    &-link{
      margin: 0 1.2rem;
      font-size:.8rem;
      color: rgba(@black,.7);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  @media @mobile{
    padding:0.5rem 0;
  }
}
